@import "tailwindcss";
.bg-primary {
  background-color: var(--primary);
}
body {
  background: var(--accent);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  font-family: cursive;
  border-color: var(--border);
  outline-color: var(--ring);
}
li {
  list-style: none;
}

:root {
  --radix-slider-thumb-transform: translateX(-50%);
  --muted-foreground: oklch(0.556 0 0);
  --muted: oklch(0.97 0 0);
  --primary: #2f2010;
  --accent: #a65330;
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radix-slider-thumb-transform: translateX(-50%);
}
